 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Keiven is a young, energetic and goal-oriented I.T. professional with a total of 4+ years working experience in the said industry. He specializes in enterprise software development with over 4+ years of experience in Java technology. He participates in a full life-cycle of development including analysis, design, development, deployment, testing and maintenance phase of application software. Currently, he works in IBM Solutions Delivery Inc. as Application Developer – Web services / SOA which mainly focus on web services, microservices and service-oriented architecture development. He has in-depth understanding in Object-oriented programming and ability to adapt new technology. </p>
					<br/>
					<p>Keiven works with values and dedication to every project he has engaged in. He delivers software solutions with quality and efficiency. As matter of fact, his contributions in Mule development in IBM has been recognized for 5 consecutive quarters. </p>
					<br/>
					<p>Keiven loves to play guitar, and do traveling, photography, & videography. He also loves to socialize to people and help in the best way he can. </p>
                </div>
            </div>
        </div>
    </section>